cscope.*
tags

dump.file
*.o
*.so
*.la
*.pc
dosfsck
dosfslabel
mkdosfs
dosfsdump

config.*
.gdb_history
gmon.out

.deps
Makefile
Makefile.in
configure
configure~
autom4te.cache
aclocal.m4
install-sh
missing
stamp-h1
depcomp
compile
INSTALL
tests/fat32_bad_images
